<table class="header-table" width="100%" border="0" cellpadding="4" cellspacing="0">
<tr>
<td width="25%">&nbsp;</td>
<td width="50%" align="center">
<img src="{logo-src}" alt="لوگو" class="logo"/>
</td>
<td width="25%" align="right" class="meta-info">
<div>شماره: <span class="highlight">{letter-number}</span></div>
<div>تاریخ: <span class="highlight">{letter-date}</span></div>
</td>
</tr>
</table>

<table class="layout-table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td align="center" class="main-title">قرارداد بیمه اصحاب فرهنگ و هنر</td></tr>
</table>

<table class="layout-table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td class="content">
این قرارداد بین سازمان تامین اجتماعی شعبه
<span class="highlight">{branch-code}</span>
و آقای / خانم
<span class="highlight">{insured-name}</span>
فرزند
<span class="highlight">{insured-father-name}</span>
به شماره شناسنامه
<span class="highlight">{insured-national-id}</span>
متولد
<span class="highlight">{insured-birth-date}</span>
شماره ملی
<span class="highlight">{insured-national-code}</span>
شماره بیمه
<span class="highlight">{insured-insurance-number}</span>
دارای
<span class="highlight">{insured-insurance-experienceDays}</span>
روز سابقه پرداخت حق بیمه قابل قبول که در حرفه
<span class="highlight">{insured-career}</span>
بر اساس درخواست شماره
<span class="highlight">{contract-number}</span>
مورخ
<span class="highlight">{contract-date}</span>
منعقد می‌گردد.
</td></tr>
</table>

<table class="terms-table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td class="term-item">1- نرخ حق بیمه 27% بوده که سهم بیمه‌شده و دولت مطابق مقررات تعیین می‌گردد.</td></tr>
<tr><td class="term-item">2- مبنای محاسبه حق بیمه حداقل دستمزد مصوب شورای عالی کار است.</td></tr>
<tr><td class="term-item">3- متقاضی مکلف است ظرف 3 ماه از تاریخ درخواست نسبت به پرداخت اقدام نماید.</td></tr>
<tr><td class="term-item">4- استفاده از مزایا منوط به پرداخت حق بیمه از تاریخ قرارداد است.</td></tr>
<tr><td class="term-item">5- پرداخت حق بیمه ماهانه بوده و در صورت تأخیر، قرارداد ممکن است لغو شود.</td></tr>
<tr><td class="term-item">6- حداقل سن 15 و حداکثر 50 سال می‌باشد.</td></tr>
</table>

<table class="contract-table" width="100%" cellpadding="6" cellspacing="0">
<tr>
<td>جنسیت</td>
<td>سن</td>
<td>سابقه</td>
<td>محدوده دستمزد</td>
</tr>
<tr>
<td>مرد / زن</td>
<td>طبق ضوابط</td>
<td>0 تا 15+ سال</td>
<td>بین حداقل تا حداکثر دستمزد</td>
</tr>
</table>
